
@model SelfDevelopmentApp.Models.ApplicationUser;


@{ Layout = "_blog";
    ViewData["Title"] = "Profile";
    var photoPath = "~/images/" + (Model.PPImageData ?? "noimage.jpg");
}




<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<br />
<br />
<br />
<br />
<div class="container">
    <div class="row">
        <div class="panel panel-default" style="margin:50px">
            <div class="panel-heading">
               
                <h4 style="color:#e43c53"> @Model.Fname Profile</h4style="color:#e43c53">
            </div>
            <div class="panel-body">
                <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                    @*<img alt="User Pic" src="@photoPath"class="img-circle img-responsive">*@
                    @if (@Model.PPImageData != null)
                    {
                        <img class="card-img-top img-circle img-responsive" src="@photoPath" asp-append-version="true" />
                    }
                    else
                    {
                        <img class="card-img-top img-circle img-responsive" src="~/images/Defult pp.jpg" asp-append-version="true" />

                    }
                </div>

                @*<img class="card-img-top" src="@photoPath" asp-append-version="true" />*@
                <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
                    <div class="container">
                        <h2>   user name: @Model.Fname  @Model.Lname</h2>



                    </div>
                    <hr>
                    <ul class="container details">
                        <li><p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span> Email: @Model.Email</p></li>
                        @{ if (Model.PhoneNumber != null)
                            {

                                <li><p><span class="glyphicon glyphicon-phone one" style="width:50px;"></span>  Phone : @Model.PhoneNumber</p></li>


                            }
                        }
                    </ul>

                    <ul class="container details">
                        @{ if (Model.Weight != null)
                            {
                                <hr>

                                <li><p><span style="width:50px;"></span>  Weight : @Model.Weight</p></li>


                            }
                        }
                        @{ if (Model.Height != null)
                            {

                                <li><p><span style="width:50px;"></span>  Height : @Model.Height</p></li>


                            }
                        }
                    </ul>


                    @{DateTime date = new DateTime(1, 1, 1);
                    }
                    @{ if (Model.DOB != date)
                        {
                            <hr>
                            <div class="col-sm-5 col-xs-6 tital ">Date Of Birth:@Model.DOB</div>


                        }
                    }
                  <br/>
                    <a asp-area="" asp-controller="Profile" asp-action="Edit"><i class="fas fa-user-edit"></i>Edit</a>

                </div>
            </div>
        </div>
    </div>
</div>