@model IEnumerable<SelfDevelopmentApp.Models.Article>
@using SelfDevelopmentApp.Utilities
@{
    ViewData["Title"] = "Home Page";
}
<!-- ======= Trackers Section ======= -->
<section id="trackers" class="trackers">
    <div class="container">
        <div class="section-title">
            <h2>The clock says:</h2>
            <h3>Tick Tick Tick... What you have to do,<span> Do quick!</span></h3>
            <p>Manage your work and track your habits efficiently</p>
        </div>
        <div class="row content">
            <a asp-area="" asp-controller="ToDoItems" asp-action="Index" class="col-lg-6" id="todolist"></a>
            <a asp-area="" asp-controller="Habit" asp-action="Index" class="col-lg-6" id="hTracker"> </a>
        </div>
    </div>
</section>
<!-- End Trackers Section -->
<!-- ======= Articles Section ======= -->
<section id="suggested_articles">
    <div class="container">
        <h2>Latest Articles</h2>
        @{ if (Model.Count() == 0)
            {<p>No Available Articles Now :((</p> }
            else
            {
                @foreach (var row in Model.ToArray().Split(3))
                {
                    <div class="row">
                        @foreach (var article in row)
                        {
                            <div class="col-lg-4 mb-4 d-flex align-items-stretch">
                                <form asp-controller="Articles" asp-action="Index" style="display:inline-block;">
                                    <input type="hidden" name="name" value="@article.Topic.Name">
                                    <div class="card">
                                        @{string url = "data:Image/png;base64," + Convert.ToBase64String(article.Image);}
                                        <img src="@Url.Content(url)" alt="" class="card-img-top">
                                        <div class="card-body">
                                            <button type="submit" style=" background:#e43c53 ; color: #fff; padding: 6px 15px; transition: 0.3s; font-size: 14px; border:1px solid #e43c5c; border-radius:12px ;font-size:12pt; font-family:'Arial Rounded MT';">
                                                @article.Topic.Name
                                            </button>
                                            <h5 class="card-title"><strong>@article.Title</strong></h5>
                                            @{ var MaxLength = 150;
                                                var txt = @System.Text.Encoding.Default.GetString(article.Text); //.Split('\n')[0]
                                                if (txt.Length > MaxLength)
                                                    txt = txt.Substring(0, MaxLength) + "...";
                                            }
                                            <p class="card-text">@txt</p>
                                            <div class="col-auto ml-auto pr-0">
                                                <a href="https://www.ida2at.com/author/ahmed-mahgoub/" class="card-author">@article.Author</a>
                                                @*<div class="card-date">26/02/2021</div>*@
                                            </div>
                                            @*<a href="" class="btn btn-outline-success btn-sm">Read More</a>
                                            <a href="" class="btn btn-outline-danger btn-sm">
                                                <i class="far fa-heart"></i>
                                            </a>*@
                                        </div>
                                    </div>
                                </form>
                            </div>
                        }
                    </div>
                }
            }
        }
    </div>
</section>
<!-- End Articles -->
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">
        <div class="section-title">
            <h2>Contact</h2>
            <h3>Our <span>Location</span></h3>
            <div>
                <iframe style="border:0; width: 100%; height: 270px;"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d221223.48634030484!2d30.862725784083242!3d29.961694103465888!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14585124598fb2d1%3A0x1a06b05171ec25f0!2sFirst%206th%20of%20October%2C%20Giza%20Governorate!5e0!3m2!1sen!2seg!4v1614797807221!5m2!1sen!2seg" frameborder="0" allowfullscreen></iframe>
            </div>
            <h3>Contact <span>Us</span></h3>
            <p>For any inquiries or suggestion, please contact us on our email salamforyou@gmail.com</p>
            <button class="btn" style="padding:20px; margin:10px;"><a id="contact" href="mailto: testsendingemail55@gmail.com"> <span style="color:white; padding:20px;">Send us an email!</span></a></button>
        </div>
@*
        <div class="row mt-5">

            <div class="col-lg-4">
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Location:</h4>
                        <p>6 October District 7 298</p>
                    </div>

                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>salamforyou@gmail.com</p>
                    </div>

                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Call:</h4>
                        <p>01222111232</p>
                    </div>

                </div>

                <div class="col-lg-8 mt-5 mt-lg-0">

                    <form action="javascript:sendMail()" method="post">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center"><button type="submit" class="SendEmail">Send Message</button></div>
                    </form>

                </div>

            </div>
*@
        </div>
</section><!-- End Contact Section -->

<script>
    
    function sendMail() {
        window.open('mailto:test@example.com');

    }
</script>

