@model IEnumerable<SelfDevelopmentApp.Models.Article>
@using SelfDevelopmentApp.Utilities
@{
    ViewData["Title"] = "Home Page";
}
<!-- ======= Trackers Section ======= -->
<section id="trackers" class="trackers">
    <div class="container">
        <div class="section-title">
            <h2>The clock says:</h2>
            <h3>Tick Tick Tick... What you have to do,<span> Do quick!</span></h3>
            <p>Manage your work and track your habits efficiently</p>
        </div>
        <div class="row content">
            <a asp-area="" asp-controller="ToDoItems" asp-action="Index" class="col-lg-6" id="todolist"></a>
            <a asp-area="" asp-controller="Habit" asp-action="Index" class="col-lg-6" id="hTracker"> </a>
        </div>
    </div>
</section>
<!-- End Trackers Section -->
<!-- ======= Articles Section ======= -->
<section id="suggested_articles">
    <div class="container">
        <h2>Latest Articles</h2>
        @{ if (Model.Count() == 0)
            {<p>No Available Articles Now :((</p> }
            else
            {
                @foreach (var row in Model.ToArray().Split(3))
                {
                    <div class="row">
                        @foreach (var article in row)
                        {
                            <div class="col-lg-4 mb-4 d-flex align-items-stretch">
                                <form asp-controller="Articles" asp-action="Index" style="display:inline-block;">
                                    <input type="hidden" name="name" value="@article.Topic.Name">
                                    <div class="card">
                                        @{string url = "data:Image/png;base64," + Convert.ToBase64String(article.Image);}
                                        <img src="@Url.Content(url)" alt="" class="card-img-top">
                                        <div class="card-body">
                                            <button type="submit" style=" background:#e43c53 ; color: #fff; padding: 6px 15px; transition: 0.3s; font-size: 14px; border:1px solid #e43c5c; border-radius:12px ;font-size:12pt; font-family:'Arial Rounded MT';">
                                                @article.Topic.Name
                                            </button>
                                            <h5 class="card-title"><strong>@article.Title</strong></h5>
                                            @{ var MaxLength = 150;
                                                var txt = @System.Text.Encoding.Default.GetString(article.Text); //.Split('\n')[0]
                                                if (txt.Length > MaxLength)
                                                    txt = txt.Substring(0, MaxLength) + "...";
                                            }
                                            <p class="card-text">@txt</p>
                                            <div class="col-auto ml-auto pr-0">
                                                <a href="https://www.ida2at.com/author/ahmed-mahgoub/" class="card-author">@article.Author</a>
                                                @*<div class="card-date">26/02/2021</div>*@
                                            </div>
                                            @*<a href="" class="btn btn-outline-success btn-sm">Read More</a>
                                            <a href="" class="btn btn-outline-danger btn-sm">
                                                <i class="far fa-heart"></i>
                                            </a>*@
                                        </div>
                                    </div>
                                </form>
                            </div>
                        }
                    </div>
                }
            }
        }
    </div>
</section>
<!-- End Articles -->
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">
        <div class="section-title">
            <h2>Contact</h2>
            <h3>Contact <span>Us</span></h3>
            <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
        </div>

        <div>
            <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="row mt-5">

            <div class="col-lg-4">
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Location:</h4>
                        <p>A108 Adam Street, New York, NY 535022</p>
                    </div>

                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>info@example.com</p>
                    </div>

                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Call:</h4>
                        <p>+1 5589 55488 55s</p>
                    </div>

                </div>

            </div>

            <div class="col-lg-8 mt-5 mt-lg-0">

                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit">Send Message</button></div>
                </form>

            </div>

        </div>

    </div>
</section><!-- End Contact Section -->
