@model SelfDevelopmentApp.Models.Article;
@using System.IO;
@using System.Text;
@{
    Layout = "_blog";
    ViewData["Title"] = "Details";

    IEnumerable<SelfDevelopmentApp.Models.Article> RelatedArticles = ViewBag.RelatedArticles;

    var base64 = Convert.ToBase64String(Model.Image);
    var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
    var articleText = "";
    //string filePath = string.Format("data:text/txt;base64,{0}", base64);
    using (MemoryStream stream = new MemoryStream((byte[])Model.Text, false))
    using (StreamReader reader = new StreamReader(stream, Encoding.Default, true))
    {
        articleText += reader.ReadToEnd();
    }
}


<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <ol>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-area="" asp-controller="Articles" asp-action="Index">Articles</a></li>
        </ol>

    </div>
</section><!-- End Breadcrumbs -->
<!-- ======= Blog Single Section ======= -->
<section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

        <div class="row">

            <div class="col-lg-8 entries">

                <article class="entry entry-single">

                    <div class="entry-img">
                        <img src='@imgsrc' alt="" class="img-fluid">
                    </div>

                    <h2 class="entry-title">
                        <!--Tilte-->
                        @Model.Title   |  @Model.Topic.Name
                    </h2>

                    <div class="entry-meta">
                        <!--Author-->
                        @Model.Author
                    </div>

                    <div class="entry-content">

                        @articleText

                    </div>
                    </article>
            </div><!-- End blog entries list -->

            <div class="col-lg-4">

                <div class="sidebar">

                    <h3 class="sidebar-title">Search</h3>
                    <div class="sidebar-item search-form">
                        @using (Html.BeginForm("Index", "Articles", FormMethod.Post))
                        {
                            <input type="text" name="name" required>
                            <button type="submit"><i class="bi bi-search"></i></button>
                        }
                    </div><!-- End sidebar search formn-->

                    @if (RelatedArticles.ToList().Count > 1)
                    {
                    <h3 class="sidebar-title">Related articles</h3>
                    <div class="sidebar-item categories">
                        <ul style="list-style-type: circle;">
                            @foreach (var item in RelatedArticles.ToList().Where(a => a.ID != Model.ID).TakeWhile(a => a.Title != null).Take(4))
                            {
                                <li><a asp-area="" asp-controller="Articles" asp-action="Details" asp-route-id="@item.ID">@item.Title</a></li>

                            }

                        </ul>
                    </div><!-- End sidebar categories-->
                    }

                </div><!-- End sidebar -->

            </div><!-- End blog sidebar -->

        </div>

    </div>
</section><!-- End Blog Single Section -->