@model IEnumerable<SelfDevelopmentApp.Models.Habit>

@{
    ViewData["Title"] = "Index";
    
}

<h1>Index</h1>


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   

    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="text-center">
        @*<a asp-action="Insert">Create New</a>*@
        <!-- Button HTML (to Trigger Modal) -->
        <p>
            <a  href="#myModal" 
               class="trigger-btn" data-toggle="modal">Create Habit</a>
        </p>
            </div>

    <!-- Modal HTML -->
    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-login">
            <div class="modal-content">
                <form action="Insert" method="post">
                    <div class="modal-header">
                        <h4 class="modal-title">New Habit.. New Challenge</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Name</label>
                            <input name="Description" type="text" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                            <label>Color</label>
                            <input name="Color" type="color" class="form-control" required="required">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary pull-right" value="Add Habit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Longest_Streak)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Current_Streak)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total_Count)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.StartingDate)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.User)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Longest_Streak)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Current_Streak)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total_Count)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.StartingDate)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.User.Email)
                    </td>*@
            <td>
                <a asp-action="ShowTracker" asp-route-id="@item.ID">Show</a> |
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
            </tr>
        }
    </tbody>
</table>
<p id="deletedID" style="display:none;">@TempData["deletedID"]</p>
