@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


<div id="month">
    <div id="previousMonth"><i class="fa fa-arrow-left" style="visibility:visible"></i></div>
    <h1 id="monthLabel"></h1>
    <div id="nextMonth"><i class="fa fa-arrow-right" style="visibility:visible"></i></div>
</div>

<div id="daysLabels"></div>
<div id="calendar"></div>

<div id="info">
    <ul id="taskLabels"></ul>
    <!--<div id="taskExample" class="dayContainer"></div>-->
</div>

<div style="display: none;">
    @*<p id="lbl">@TempData["habitLabel"]</p>
        <p id="id">@TempData["habitID"]</p>*@
    <p id="lbl">@ViewBag.hLabel</p>
    <p id="id">@ViewBag.habitId</p>
    <p id="color">@ViewBag.hColor</p>
</div>
<script src="~/assets/js/backup.js"></script>

@*<div class="seanSocial">
        <span>Props to <a href="https://seanwes.com" target="_new" class="social">Sean McCabe</a> who is the creator of <a href="https://seanwes.com/2018/five-habit-tracker-free-printable-pdf/" target="_new" class="social">Five Habit Tracker</a></span>
        <a href="https://seanwes.com/" target="_new" class="social">
            <img src="https://secure.gravatar.com/avatar/9f2e580277054720abc5323c48417040?s=64&d=mm&r=g" alt="linkedin"></img>
        </a>
    </div>*@
